<div class="row mt pt">
	<div class="large-5 columns">
		<div class="top-pad glassy-bg">
			<%= render partial: "projects/new" %>
		</div>
	</div>
	<div class="large-7 columns" id="projects">
		<%= render partial: @projects.reverse %>
	</div>
</div>